@model WebApp.Entities.ViewModels.Home.LoginViewModel;

<form id="loginForm">
    <div class="mb-3">
        <label for="username" class="form-label fs-5">Username</label>
        <input type="text" class="form-control" id="username" asp-for="UserName">
        <p class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</p>
    </div>
    <div class="mb-3">
        <label for="loginPassword" class="form-label fs-5">Password</label>
        <div class="position-relative d-flex align-items-center justify-content-end">
            <input type="password" class="form-control pe-5" id="loginPassword" asp-for="Password">
            <i class="bi bi-eye-slash-fill position-absolute me-3 text-dark cursor-pointer" id="togglePassword"></i>
        </div>
        <p class="text-danger">@Html.ValidationMessageFor(m => m.Password)</p>
    </div>
    <p class="text-danger">@Html.ValidationMessage("customerErrorMessage")</p>
    <button type="submit" class="btn btn-primary" onclick="submitLoginForm()">Submit</button>
</form>